$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

.gameBoard {
  font-family: helvetica;
  width: fixed;
  height: fixed;
  margin-left: 600px;
}

.boardPiece{
  border-color: #97C6C6;
  background: #97C6C6;
  border-radius: 10px;
  border-style: solid;
  height: 150px;
  width: 150px;
}

.boardPiece:hover{
  background-color: #F7EF93;
}
.sign-up{
  display: inline-block;
}
.sign-in{
  display: inline-block;
  padding-left: 15px;
}
.sign-out{
  display: inline-block;
  padding-left: 15px;
  float: right;
}
.change-password{
  display: inline-block;
  padding-left: 15px;
}
.intro{
  padding-top:25px;
  font-size: 20px;
  text-align: center;
}
.new-game{
  margin-top: 25px;
  margin-left: 785px;
}
